---
layout: base
description: Research page layout.
---

<div class="container-fluid">
	<div class="row">
		Currently, I study the evolutionary genomics of human's closest living relatives, bonobos and chimpanzees, and human's closest—but now extinct—relatives, Denisovans and Neanderthals. Previously, I've studied the behavior, ecology, and health of captive and wild non-human primates as well as non-invasive monitoring of wild animal populations. Further information on these projects can be found below and on the Publications page.
	</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		<h5><b>Current Projects</b></h5>
	</div>
	<div class="row">
		<div class="col-lg-6" style="text-align: center;">
			<img src="/images/photos/Pan_phylogeny.png" alt="headshot" style="max-height:300px">
		</div>
		<div class="col-lg-6" style="text-align: center;">
			<img src="/images/photos/predicted_neanderthal_denisovan_phenotypes.png" alt="headshot" style="max-height:300px">
		</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		<div class="col-lg-6 text-center">
			<h5><b><i>Pan</i> Evolutionary Genomics</b></h5>
		</div>
		<div class="col-lg-6 text-center">
			<h5><b>Archaic Hominin Genomics</b></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			Human's closest living relatives, bonobos and chimpanzees, have remarkable genetic and phenotypic diversity making them important evolutionary models. However, reconstructing their evolutionary history is currently restricted to genomic data due to the scant chimpanzee fossil record. This research uses computational and machine learning approaches to better understand demography and positive selection in these taxa.
			<div class="row">
				&nbsp
			</div>
			<b>Publications:</b> <a href="https://www.biorxiv.org/content/10.1101/2020.12.14.422788v3" class="link-primary">Brand et al. 2021</a>, <a href="https://www.pnas.org/doi/full/10.1073/pnas.2200858119" class="link-primary">Brand et al. 2022b</a>
		</div>
		<div class="col-lg-6">
			While many traits cannot be inferred from the fossil record, the advent of ancient DNA has opened a new path for understanding the biology of extinct taxa. Predicting the phenotypes of Denisovans and Neanderthals is also relevant because nearly all modern human genomes contain ancestry from one or both of these lineages. I recently reviewed what is known about archaic hominin phenotypes from genomic data and am currently studying alternative splicing.
			<div class="row">
				&nbsp
			</div>
			<b>Publications:</b> <a href="https://www.annualreviews.org/doi/abs/10.1146/annurev-genom-111521-121903" class="link-primary">Brand et al. 2022a</a>, <a href="https://www.biorxiv.org/content/10.1101/2022.08.02.502533v3" class="link-primary">Brand et al. 2022c</a>
		</div>
	</div>
	
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		<h5><b>Past Projects</b></h5>
	</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		<div class="col-lg-6" style="text-align: center;">
			<img src="/images/photos/sample_collection.jpg" alt="headshot" style="max-height:300px">
		</div>
		<div class="col-lg-6" style="text-align: center;">
			<img src="/images/photos/Nadami.jpg" alt="headshot" style="max-height:300px">
		</div>
	<div class="row">
		&nbsp
	</div>
	<div class="row">
		<div class="col-lg-6 text-center">
			<h5><b>Non-Invasive Population Monitoring</b></h5>
		</div>
		<div class="col-lg-6 text-center">
			<h5><b>Primate Behavior, Ecology, and Health</b></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			Accurate estimates of population size and demography are important for understanding their biology and behavior as well as their conservation. I used genetic capture-recapture sampling and methods to assess a bonobo population in the Democratic Republic of Congo and a forest elephant population living in a human-modified landscape in Gabon.
			<div class="row">
				&nbsp
			</div>
			<b>Publications:</b> <a href="http://static1.1.sqspcdn.com/static/f/1200343/27358081/1480544925160/PC30_Brand_et_al_Genetic_monitoring_bonobo.pdf?token=jlASH3NOAtyH8mQ3Po7QvUifqAY%3D" class="link-primary">Brand et al. 2016a</a>, <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0231832" class="link-primary">Brand et al. 2020</a>
		</div>
		<div class="col-lg-6">
			My initial research focused on the behavior of captive primates, including hair plucking and manuel laterality in captive bonobos. I've also studied wild bonobos in the Democratic Republic of Congo. During my time at the University of Oregon, I helped mentor both undergraduates and graduate students on various primatology projects and collaborated on a project examining health biomarkers in captive gorillas.
			<div class="row">
				&nbsp
			</div>
			<b>Select Publications:</b> <a href="https://onlinelibrary.wiley.com/doi/10.1002/ajp.22751" class="link-primary">Brand and Marchant 2018</a>, <a href="https://link.springer.com/article/10.1007/s10329-021-00942-6" class="link-primary">Edes and Brand 2021</a>
		</div>
	</div>
</div>