---
title: Publications
layout: default
group: publications
---

<h1>Publications</h1>
<div class="container-fluid">

{% for publication in site.publications reversed | sort: "pub_date" %}
<hr>
<br>
<div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{publication.pmid}}">
<div style="font-size: 120% !important; width: 100%">{{ publication.citation | markdownify }}</div>
        </div>
        <div class="row" style="padding-top: 20px; margin-top: - 20px;">
        	<div class="col-sm-6">
        		<img class = "img-fluid" src = "{{publication.image}}" alt = "Key Figure" style="max-height: 200px;">
        	</div>
        	<ul class="col-sm-6">
        			<!--PMID-->
        			{% if publication.pmid %}
        			<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt = "pubmed link: {{publication.pmid}}"> {{publication.pmid}}</a></li>
        			{% endif %}
        			
        		<!-- Article Link -->
                {% if publication.link %}
        		<li><a href="{{publication.link}}" alt = "article_link"> Article Link</a></li>
                {% endif %}

        			<!--Biorxiv - optional -->
        			{% if publication.biorxiv %}
        			<li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" alt = "biorxiv preprint link: {{publication.biorxiv}}"> {{publication.biorxiv | split: "." | last }}</a></li>
        			{% endif %}
        			
        			 <!--Code - optional -->
        			{% if publication.code %}
        			<li>Code: <a href="{{publication.code}}" alt = "code: {{publication.code}}"> {{publication.code}}</a></li>
        			{% endif %}
        	</ul>
    </div>
<br>
{% endfor %}